<%
 # This partial takes locals variables for guidance collection called "templates"
  # it also takes a variable called public with values true or false since
  # the layout differs for public items from the institution-only guidance
%>

<table class="table table-striped">
	<thead>
		<tr>			
      <th><%= link_to "Template", {order_scope1: "Template", scope1: @scope1, s: @s, e: @e}%></th>
      <th class="span5"><%= link_to (public ? 'Funder' : 'Institution'), {order_scope1: "Institution", scope1: @scope1, s: @s, e: @e}%></th>
      <th><%= link_to (public ? 'Funder Links' : 'Institution Links'), {order_scope1: "InstitutionLink", scope1: @scope1, s: @s, e: @e}%></th>
      <th>
      	<%= link_to "Sample Plans", {order_scope1: "SamplePlans", scope1: @scope1, s: @s, e: @e}%>
      	<%= content_tag(:span, '', :title => 'Sample plans are provided by a funder, an institution or a trusted party.', 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'data-html' => 'true', :class => 'icon questionmark tip') %><br>(if available)
      </th>
		</tr>
	</thead>
	<tbody>
		<% templates.each do |t| %>
			<tr>	
				
				<td><%= link_to t.name,	basic_requirements_template_path(t, format: :rtf ), :target => '_blank' %>
						<%= link_to '', basic_requirements_template_path(t, format: :rtf), :class => 'icon rtf', :target => '_blank' %>
				</td>
				<td><%= (t.institution ? t.institution.full_name: '') %></td>
				<td>
					<% t.additional_informations.each do |info| %>
					<div class="samples">
						<%= link_to info.label, info.url, :target => '_blank' %>
					</div>
					<% end %>
				</td>
				<td>
					<% t.sample_plans.each do |s| %>
					<div class="samples">
						<%= link_to s.label, s.url, :target => '_blank' %>
						<%= link_to '', s.url, :class => 'icon pdf', :target => '_blank' %>
					</div>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<% if @scope1 == "all" %>
	<div class="buttons pagination">
		<%= link_to "View Less", {:method => :get, order_scope1: @order_scope1, scope1: "", s: @s, e: @e}, {:class => "btn"}%>
		<%= paginate @public_templates, {:param_name => 'public_guidance_page', order_scope1: @order_scope1} %>
	</div>
<% else %>
	<div class="buttons pagination">
		<%= link_to "View All", {:method => :get, order_scope1: @order_scope1, scope1: "all", s: @s, e: @e}, {:class => "btn"}%>
		<%= paginate @public_templates, {:param_name => 'public_guidance_page', order_scope1: @order_scope1} %>
	</div>
<%end%>





