<% unless params[:q].to_s == ''  %>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Institution</th>
				<th>Current Role</th>
				<th width="span1">Edit User Role</th>
				<th width="span1" class="align-center">Remove User</th>
			</tr>
		</thead>
		<tbody>
		
		<% @users.each do |user| %>     
			<tr class='user_row' id=<%="user_#{user.id}"%>>        
				<td><%= link_to user.full_name_last_first, edit_user_path(user) %></td>
				<td><%= user.email %></td>
				<td><%= link_to user.institution.full_name, edit_institution_path(user.institution) %></td>
				<td><%= user.role_names.join(' | ') %></td>
				<td class="span1"><%=link_to raw(''), edit_user_roles_path(user_id: user), :class => 'icon edit-user', :id => "edit_#{user.id}"%></td>
				<td class="span1"><%= link_to raw(''), user, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'icon remove-user' %></td>    
			</tr>       
		<% end %>
		
		</tbody>
	</table>

	

		<% if @all_users == "all" %>
			<div class="buttons pagination">
				<%= link_to "View Less", users_path(:all_users => "", :anchor => 'tab1', q: @q), :method => :get, :class => "btn", role: "button" %>
				<%= paginate @users %>
			</div>
		<% else %>
			<div class="buttons pagination">
				<%= link_to "View All", users_path(:all_users => "all", :anchor => 'tab1', q: @q), :method => :get, :class => "btn", role: "button"%>
				<%= paginate @users %>
			</div>
		<%end%>


<% end %>



