<% # this partial should take a local of requirements for it's level in the tree  %>
<ul>
<% requirements.each do |requirement| %>
  <% if requirement.is_group? %>
    <li class="nested_requirements" id="requirement_<%= requirement.id %>">
      <span class="icon icon-folder-open"></span>
      <%= requirement.text_brief %>
        <%= render partial: 'shared/requirements_tree', locals: {requirements: requirement.children} %>
    </li>
  <% else %>
    <li class="li_requirement<%= (requirement.id.to_s == params[:requirement_id] ? ' current' : '') %>" id="requirement_<%= requirement.id %>">
      	<% unless Response.where(requirement_id: requirement.id, plan_id: @plan.id).count < 1 %>
        	<div class="actions">
            <span class="icon confirm" id="complete_icon"></span>
          </div>
     		<% end %>
      	<span class="icon requirement"></span>
      	<% if requirement.id.to_s == params[:requirement_id] %>
          <% if requirement.obligation == :mandatory %>
       		 <%= requirement.text_brief %> <span class="required">*</span>
          <% else %>
            <%= requirement.text_brief %>
          <% end %>
      	<% else %>
          <% if requirement.obligation == :mandatory %>
            <%= link_to requirement.text_brief, details_plan_path(@plan, requirement_id: requirement.id, node_type: 'requirement'), {class: 'requirement_direct_link'} %> <span class="required">*</span>
          <% else %>
            <%= link_to requirement.text_brief, details_plan_path(@plan, requirement_id: requirement.id, node_type: 'requirement'), {class: 'requirement_direct_link'} %>
          <% end %>
				<% end %>
		</li>
  <% end %>
<% end %>
</ul>