<% @display_menu = "customizations" %>
<h1 class="row-fluid"><span class="icon resource-template"></span>Existing Resources</h1>
<% unless user_role_in?(:dmp_admin) %>
	<h2>For <%= current_user.institution.full_name %></h2>
<% else %>
	<br/>
<% end %>

<div class="row-fluid">

	<%if  (@any_resource.count >0 && @resource_contexts.length > 0) %>

		<%= render 'resource_search' %>
		<%= form_tag copy_selected_customization_resource_path, :method => :post  do %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Select</th>
						
						<th hidden><%= link_to "Resource Id",
													params.merge({scope: "Resource_id", authenticity_token: nil })%>
						</th>
						<th class="span4"><%= link_to "Details",
		                      params.merge({scope: "Details", authenticity_token: nil})%>
						</th>

						<th><%= link_to "Type",
		                      params.merge({scope: "Type", authenticity_token: nil}) %>
						</th>

						<th><%= link_to "Institution",
		                      params.merge({scope: "Institution", authenticity_token: nil}) %>
						</th>

						<th><%= link_to "Creation Date",
		                      params.merge({scope: "Creation_Date", authenticity_token: nil}) %>
						</th>

						<th><%= link_to "Last Modification Date",
		                      params.merge({scope: "Last_Modification_Date", authenticity_token: nil}) %>
						</th>

						<th hidden>Level</th>
						<th width="span1">Edit</th>
					</tr>
				</thead>
				<tbody>
					<% @resource_contexts.each do |resource_context| %>
						<%unless resource_context.resource_level == 'Institution'%>
							<tr>
								<td class="span1"><%= radio_button_tag :resource, resource_context.resource_id, checked: false %></td>							
								<td hidden><%= resource_context.resource_id %></td>							
								<td>
									<div class="toggle-links">
										<%= resource_context.resource.nil? ? " " : resource_context.resource.label %>
									</div>
								</td>
								<td><%= resource_type(resource_context) %></td>
								<td><%= resource_context.institution.nil? ? " " :  resource_context.institution.nickname %></td>
								<td><%= resource_context.resource.created_at.nil? ? " " :  resource_context.resource.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
								<td><%= resource_context.resource.updated_at.nil? ? " " :  resource_context.resource.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
								<td hidden><%= resource_context.resource_level %></td>
								<td class="span1"><%= link_to raw(''),
												edit_customization_resource_path(id: resource_context.resource_id,
																	customization_id: @customization_overview_id,
																	template_id: @template_id,
																	resource_level: @resource_level,
																	requirement_id: @requirement_id,
																	tab_number: 		@tab_number,
																	tab: 						@tab,
																	custom_origin: @custom_origin,
			                            origin_url:     request.original_url),
									 			:class => 'icon edit-user' %>
								</td>
							</tr>
						<%end%>
					<% end %>
				</tbody>
			</table>
			<div class="buttons pagination">
				<%= submit_tag 'Link Selected Resource',  :class => "btn btn-green" %>
				<%= paginate @resource_contexts %>
			</div>
			<%= hidden_field_tag :template_id, @template_id  %>
			<%= hidden_field_tag :resource_level, @resource_level  %>
			<%= hidden_field_tag :requirement_id, @requirement_id  %>
			<%= hidden_field_tag :customization_overview_id, @customization_overview_id %>
			<%= hidden_field_tag :tab, @tab %>
			<%= hidden_field_tag :tab_number, @tab_number %>
			<%= hidden_field_tag :custom_origin, @custom_origin %>
			<div class="actions pull-right">						
				<%= link_to 'Add a new resource',
									new_customization_resource_path(template_id: @template_id,
									customization_overview_id: @customization_overview_id,
									resource_level: @resource_level,
									requirement_id: @requirement_id,
									tab_number: 		params[:tab_number],
									tab:  					params[:tab],
									custom_origin: 	@custom_origin),
									:method => :post,
									:class => "btn btn-green" %>
			</div>
		<%end%>
		<div class="actions pull-left">
			<%= link_to '<< Back', 
									"#{@origin_path}"+'#'+"#{@tab_number}",
									  :class => "btn" %>
		</div>

	<%else%>
		
		<%if params[:q]%>
			<%= render 'resource_search' %>
		<%end%>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Select</th>
					
					<th hidden><%= link_to "Resource Id",
												params.merge({scope: "Resource_id", authenticity_token: nil })%>
					</th>
					<th class="span4"><%= link_to "Details",
	                      params.merge({scope: "Details", authenticity_token: nil})%>
					</th>

					<th><%= link_to "Type",
	                      params.merge({scope: "Type", authenticity_token: nil}) %>
					</th>

					<th><%= link_to "Institution",
	                      params.merge({scope: "Institution", authenticity_token: nil}) %>
					</th>

					<th><%= link_to "Creation Date",
	                      params.merge({scope: "Creation_Date", authenticity_token: nil}) %>
					</th>

					<th><%= link_to "Last Modification Date",
	                      params.merge({scope: "Last_Modification_Date", authenticity_token: nil}) %>
					</th>

					<th hidden>Level</th>
					<th width="span1">Edit</th>
				</tr>
			</thead>
			<tbody>
				
				<tr><td>There are no existing resources to choose from.</td></tr>
				
			</tbody>
		</table>

		<%= hidden_field_tag :template_id, @template_id  %>
		<%= hidden_field_tag :resource_level, @resource_level  %>
		<%= hidden_field_tag :requirement_id, @requirement_id  %>
		<%= hidden_field_tag :customization_overview_id, @customization_overview_id %>
		<%= hidden_field_tag :tab, @tab %>
		<%= hidden_field_tag :tab_number, @tab_number %>
		<%= hidden_field_tag :custom_origin, @custom_origin %>

		<div class="actions pull-right">

			<%= link_to 'Add a new resource',
								new_customization_resource_path(template_id: @template_id,
								customization_overview_id: @customization_overview_id,
								resource_level: @resource_level,
								requirement_id: @requirement_id,
								tab_number: 		params[:tab_number],
								tab:  					params[:tab],
								custom_origin: 	@custom_origin),
								:method => :post,
								:class => "btn btn-green" %>

			
		</div>
		<div class="actions pull-left">
			

			<%= link_to '<< Back', 
									"#{@origin_path}"+
									'#'+
									"#{@tab_number}",  
									:class => "btn" %>
		</div>

	<%end%>
	
</div>

