/* Button Container */
.buttons {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	border: 1px solid #B6B6B7;
	border-top: none;
	width: auto;
	min-height: 30px;
	margin: -10px 0 10px;
	padding: 10px;
	position: relative; }
.tab-pane .buttons {
	border: none;
	border-top: 1px solid #B6B6B7;
	margin: 10px -10px 0;
	padding-bottom: 0; }
.tab-pane .buttons.pagination {
	border: 1px solid #B6B6B7;
	border-top: none;
	margin: -10px 0 10px;
	padding-bottom: 10px; }
.tab-pane.table .buttons {
	border: none;
	border-top: 1px solid #B6B6B7;
	margin: 0;
	padding-bottom: 10px; }
.border-box .buttons {
	margin: 0 -15px 0; }
.buttons p {
	line-height: 34px;
	margin-right: 10px; }

	
/* Buttons */
a.btn, button.btn, input[type=submit], input[type=submit].btn, .ui-datepicker-trigger {
	display: inline-block;
	border: none;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background: url(<%= asset_path 'button_bg.jpg' %>) repeat-x 0 0 transparent;
	color: #6D6E70 !important;
	font-size: 14px;
	font-weight: bold;
	text-shadow: none !important;
	text-decoration: none !important;
	text-align: center;
	line-height: 34px;
	width: auto;
	height: 30px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0 20px; }
.ui-datepicker-trigger {
	border: 1px solid #B6B6B7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0 10px; }
button img {
	display: block; }
.buttons.pagination a.btn, 
.buttons.pagination button.btn, 
.buttons.pagination input[type=submit], .buttons.pagination input[type=submit].btn {
	position: absolute;
	left: 10px; }
a.btn:hover, a.btn:focus, a.btn:active,
button.btn:hover, button.btn:focus, button.btn:active {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background-image: url(<%= asset_path 'button_bg.jpg' %>);
	background-position: 0 -30px; }
a.btn.current {
	border: 2px solid #B6B6B7;
	background: #FFFFFF;
	color: #516935 !important;
	line-height: 30px;
	height: 26px;
	padding: 0 18px; }
a.btn-green, button.btn-green, input[type=submit], input[type=submit].btn {
	background-position: 0 -60px;
	color: #FFFFFF !important; }
a.btn-green:hover, a.btn-green:focus, a.btn-green:active,
button.btn-green:hover, button.btn-green:focus, button.btn-green:active,
input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active, 
input[type=submit].btn:hover, input[type=submit].btn:focus, input[type=submit].btn:active {
	background-position: 0 -90px; }
a.btn-gray, button.btn-gray {
	background-position: 0 -120px;
	color: #FFFFFF !important; }
a.btn-gray:hover, a.btn-gray:focus, a.btn-gray:active,
button.btn-gray:hover, button.btn-gray:focus, button.btn-gray:active {
	background-position: 0 -150px; }
a.btn-large {
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	box-shadow: 0 0 25px 3px #EFEFEF !important;
	-moz-box-shadow: 0 0 25px 3px #EFEFEF !important;
	-webkit-box-shadow: 0 0 25px 3px #EFEFEF !important;
	background-position: 0 -186px;
	color: #FFFFFF !important;
	font-size: 2em;
	font-weight: normal;
	line-height: 65px !important;
	height: 60px;
	margin: 0;
	padding-left: 35px;
	padding-right: 35px; }
a.btn-large:hover, a.btn-large:focus, a.btn-large:active {
	background-position: 0 -240px; }
.btn.pull-right {
	margin-left: 5px;
	margin-right: 0; }
.btn.pull-left {
	margin-left: 0;
	margin-right: 5px; }
	
/* UI Icons */
.icon {
	display: inline-block;
	background-image: url(<%= asset_path 'dmp_icons.png' %>);
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden; }
a.icon {
	text-decoration: none !important;
	vertical-align: middle;
	position: relative; }
a.icon + a.icon {
	margin-left: 3px; }
h1 .icon {
	position: absolute;
	top: 7px;
	left: 12px; }
h2 .icon {
	position: absolute;
	left: 0; }
a .icon {
	margin-right: 3px;
	position: relative;
	top: 3px; }
	
/* first row */
.add.icon {
	background-position: 0 0; width: 15px; height: 15px; }
.remove.icon {
	background-position: -15px 0; width: 15px; height: 15px; }
.confirm.icon {
	background-position: -30px 0; width: 15px; height: 15px; }
.cancel.icon {
	background-position: -45px 0; width: 15px; height: 15px; }
.add-group.icon {
	background-position: -60px 0; width: 20px; height: 15px; }
.add-requirement.icon {
	background-position: -80px 0; width: 14px; height: 15px; }
.requirement.icon {
	background-position: -95px 0; width: 14px; height: 15px; top: -1px; left: 2px; }
.trash.icon {
	background-position: -110px 0; width: 14px; height: 15px; }
.institution.icon {
	background-position: -125px 0; width: 15px; height: 15px; top: -3px; }
.comment.icon {
	background-position: -140px 0; width: 20px; height: 15px; }
.print.icon {
	background-position: -160px 0; width: 20px; height: 15px; }
.email.icon {
	background-position: -180px 0; width: 15px; height: 10px; }
/* second row */
.close.icon {
	background-position: 0px -15px; width: 25px; height: 25px; }
.institution-contact.icon {
	background-position: -25px -15px; width: 30px; height: 25px; }
.institution-domain.icon {
	background-position: -55px -15px; width: 30px; height: 25px; }
.public-dmps.icon {
	background-position: -85px -15px; width: 30px; height: 25px; top: 8px; }
.login.icon {
	background-position: -115px -15px; width: 25px; height: 25px; }
.institution-profile.icon {
	background-position: -140px -15px; width: 25px; height: 25px; }
/* third row */
.new-template.icon {
	background-position: 0px -40px; width: 25px; height: 25px; }
.dmp-template.icon {
	background-position: -25px -40px; width: 25px; height: 25px; }
.resource-template.icon {
	background-position: -50px -40px; width: 25px; height: 25px; }
.template-editors.icon {
	background-position: -75px -40px; width: 25px; height: 25px; }
.template-details.icon {
	background-position: -100px -40px; width: 25px; height: 25px; }
.template-preview.icon {
	background-position: -125px -40px; width: 25px; height: 25px; }
.review.icon {
	background-position: -150px -40px; width: 25px; height: 25px; }
.approve-template.icon {
	background-position: -175px -40px; width: 25px; height: 25px; }
/* fourth row */
.remove-user.icon {
	background-position: -35px -65px; width: 32px; height: 25px; }
.administrator.icon {
	background-position: -70px -65px; width: 32px; height: 25px; }
.institution-guidance.icon {
	background-position: -105px -65px; width: 32px; height: 25px; }
.funder-guidance.icon {
	background-position: -140px -65px; width: 32px; height: 25px; }
.profile.icon {
	background-position: -175px -65px; width: 25px; height: 25px; }
/* fifth row */
.overview.icon {
	background-position: 0 -90px; width: 30px; height: 20px; top: 11px; }
.select.icon {
	background-position: -30px -90px; width: 30px; height: 20px; top: 11px; }
.search.icon {
	background-position: -60px -90px; width: 20px; height: 20px; }
.pdf.icon {
	background-position: -80px -90px; width: 20px; height: 20px; }
.rtf.icon {
	background-position: -100px -90px; width: 20px; height: 20px; }
.facebook.icon {
	background-position: -120px -90px; width: 20px; height: 20px; }
.facebook.icon:hover, .facebook.icon:focus, .facebook.icon:active {
	background-position: -120px	-110px; }
.twitter.icon {
	background-position: -140px -90px; width: 20px; height: 20px; }
.twitter.icon:hover, .twitter.icon:focus, .twitter.icon:active {
	background-position: -140px -110px; }
.rss.icon {
	background-position: -160px -90px; width: 20px; height: 20px; }
.rss.icon:hover, .rss.icon:focus, .rss.icon:active {
	background-position: -160px -110px; }
.user-login.icon {
	background-position: -180px -90px; width: 20px; height: 20px; }
.user-login.icon:hover, .user-login.icon:focus, .user-login.icon:active {
	background-position: -180px -110px; }
/* sixth row */
.public.icon {
	background-position: 0 -110px; width: 40px; height: 35px; }
.help.icon {
	background-position: -40px -110px; width: 40px; height: 35px; }
.news.icon {
	background-position: -80px -110px; width: 40px; height: 35px; }
.folder-open.icon {
	background-position: -120px -130px; width: 20px; height: 15px; }
.folder-closed.icon {
	background-position: -140px -130px; width: 20px; height: 15px; }
/* seventh row */
.unlink.icon {
	background-position: 0 -145px; width: 20px; height: 20px;
}
.edit-user.icon {
	background-position: -20px -145px; width: 18px; height: 20px;
}
.public-visibility.icon {
	background-position: -38px -145px; width: 29px; height: 20px;
}
.institutional-visibility.icon {
	background-position: -67px -145px; width: 11px; height: 20px;
}
.private-visibility.icon {
	background-position: -78px -145px; width: 18px; height: 20px;
}
.questionmark.icon {
	background-position: -96px -145px; width: 15px; height: 15px; margin-left: 5px;
}
input + .questionmark.icon, select + .questionmark.icon {
	margin-left: -5px;
}

/* Tree View Icons */
a.icon.print {
	background: none;
	font-size: 1.167em;
	width: auto;
	height: auto;
	padding-left: 25px;
	position: relative; }
a.icon.new, a.icon.delete {
	background: none;
	vertical-align: middle;
	line-height: 17px; }
a.icon.new {
	padding-left: 25px; }
a.icon.delete {
	color: #DA0049 !important;
	padding-left: 20px; }
a.icon.new:hover, a.icon.new:focus, a.icon.new:active, 
a.icon.delete:hover, a.icon.delete:focus, a.icon.delete:active {
	text-decoration: underline !important; }
a.add-requirement.icon { 
	background: none; width: auto; height: auto; padding-left: 17px; }
	
.icon-chevron-up {
	background: url(<%= asset_path 'dmp_icons.png' %>) no-repeat -159px -130px transparent; width: 11px; height: 11px; }
.icon-chevron-down {
	background: url(<%= asset_path 'dmp_icons.png' %>) no-repeat -170px -130px transparent; width: 11px; height: 11px; }
.icon-chevron-left {
	background: url(<%= asset_path 'dmp_icons.png' %>) no-repeat -182px -130px transparent; width: 11px; height: 11px; }
.icon-chevron-right {
	background: url(<%= asset_path 'dmp_icons.png' %>) no-repeat -190px -130px transparent; width: 11px; height: 11px; left: 1px; position: relative; }
	
.icon-folder-close {
	background: url(<%= asset_path 'dmp_icons.png' %>) no-repeat -140px -130px transparent; width: 20px; height: 12px; }
.icon-folder-open {
	background: url(<%= asset_path 'dmp_icons.png' %>) no-repeat -120px -130px transparent; width: 20px; height: 12px;}
	
.icon-file {
	background: url(<%= asset_path 'dmp_icons.png' %>) no-repeat -95px 0 transparent; width: 14px; height: 15px; top: -4px; }
