/* Begin Bootstrap CSS */
@import "bootstrap";
/* End Bootstrap CSS */

/* Custom Styles */
body {
  background: #FFF;
  color: #4C4C4E;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.3;
  margin: 0;
  padding: 0; }
h1, h2, h3 {
	font-weight: normal; }
h1 {
	color: #86A641;
	font-size: 2em;
	line-height: normal; }
h1.row-fluid  {
	clear: both;
	background: #6D6E70;
	color: #FFFFFF;
	font-size: 1.5em;
	text-transform: uppercase;
	line-height: 44px;
	width: auto;
	height: 40px;
	margin: 0;
	padding: 0 0 0 50px;
	position: relative; }
h2, h3, h4, h5, h6 {
	line-height: 1.3; }
h2 {
	font-size: 1.5em; }
h3 {
	font-size: 1.3em; }
h4, h5, h6 {
	font-size: 1em; }
h6 {
	margin: 0; }
p, ul, ol {
	font-size: 1em;
	margin: 10px 0; }
p {
	margin-top: 0; }
.static-page p {
	margin: 10px 0; }
.dmptool-page p {
	font-size: 1.167em; }
ul, ol {
	margin-left: 25px; }
li {
	line-height: 1.3;
	list-style: none;
	margin: 0 0 5px 0; }
ol > li {
	list-style: decimal; }
ol ol > li {
	list-style: upper-alpha; }
ol ol ol > li {
	list-style: lower-roman; }
ul.nav li {
	margin-bottom: 0; }
td, th {
	font-size: 1em; }
blockquote {
	font-size: 1em;
	margin: 20px 10px; }
pre {
  font-size: 0.917em;
  line-height: 2;
  margin: 10px 0;
  padding: 10px; }
hr {
	border-top: 1px solid #B6B6B7;
	margin: 10px 0;
	padding: 0; }
[class*="span"] hr {
	border-top-style: dotted;
	border-top-width: 2px;
	margin: 10px 0; }
small {
	font-size: 0.929em; }
a {
  color: #516935;
  outline: none !important;
  &:visited {
    color: #516935; }
  &:hover {
    color: #516935; }
  &:active {
  	color: #516935; } }

.red {
	color: #DA0049 !important; }
.green {
	color: #86A641 !important; }
.blue {
	color: #0000FF !important; }
