<%= form_tag(change_visibility_path, id: "visibility_form", method: :post, html: { :class => "form-horizontal"}) do %>

  <%= hidden_field_tag(:plan_id, plan_id, id: 'shared_plan_id') %>
  <%#= hidden_field_tag(:visibility, visibility, id: 'shared_visibility') %>
  <div class="control-group">
    <div class="controls checkbox-controls">
      <%= radio_button_tag :visibility, :institutional  %>
      <%= label_tag :visibility_institutional, "With others from #{current_user.institution.full_name}", :class => 'radio-label' %><br/>
      <%= radio_button_tag :visibility, :public%>
      <%= label_tag :visibility_public, 'Publicly on the web. Your DMP will appear on the Public DMPs 
                                        page of this site.', 
                                        :class => 'radio-label' %><br/>
      <%= radio_button_tag :visibility, :private %>
      <%= label_tag :visibility_private, 'Private (owners and co-owners only)', :class => 'radio-label'%>
    </div>
  </div>
  <br/>

<% end %>
