<% @title_text = "DMP Overview" %>
<h1 class="row-fluid"><span class="icon overview"></span>DMP Overview</h1>
<div class="tabbable">
  <ul class="nav-tabs">
    <li class="active"><a href="#" data-toggle="tab">DMP Overview</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= form_for @plan, html:{ :class => 'form-horizontal' }  do |f| %>
        <%= render partial: "shared/errors", locals: {model: @plan } %>
        <%= f.hidden_field :current_user_id, value: @user.id %>
        <%= f.hidden_field :original_plan_id, value: @original_plan_id %>
        <div class="control-group">
          <%= label_tag :selected_requirement_template_name, 'DMP Template', :class => 'control-label' %>
          <div class="controls">
            <% if @plan.new_record? && current_page?(controller: 'plans', action: 'new') %>
              <%= f.hidden_field :requirements_template_id, value: params[:requirements_template_id], id: 'dmp_template_id' %>
              <%= text_field_tag(:selected_requirement_template, RequirementsTemplate.where(id: params[:requirements_template_id]).first.try(:name), id: 'selected_requirement_template_name', :class => 'input-xxlarge', disabled: true) %>
            <% elsif @plan.new_record? && current_page?(controller: 'plans', action: 'copy_existing_template') %>
              <%= f.hidden_field :requirements_template_id, value: @plan.requirements_template_id, id: 'dmp_template_id' %>
              <%= text_field_tag(:selected_requirement_template, @plan.requirements_template.name, id: 'selected_requirement_template_name', :class => 'input-xxlarge', disabled: true) %>
            <% else %>
              <%= f.hidden_field :requirements_template_id, value: @plan.requirements_template_id, id: 'dmp_template_id' %>
              <%= text_field_tag(:selected_requirement_template, @plan.requirements_template.name, id: 'selected_requirement_template_name', :class => 'input-xxlarge', disabled: true) %>
            <% end %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :name , 'DMP Title', :class => 'control-label required' %>
          <div class="controls">
            <% unless @plan.new_record? && current_page?(controller: 'plans', action: 'copy_existing_template') %>
              <%= f.text_area :name , :class => 'input-xxlarge', 'aria-required' => 'true' %>
            <% else %>
              <%= f.text_area :name , value: "Copy of " + @plan.name, :class => 'input-xxlarge', 'aria-required' => 'true' %>
            <% end %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :solicitation_identifier , 'Proposal Solicitation Number', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :solicitation_identifier  , :class => 'input-xxlarge'%>
            <%= content_tag(:span, '', :title => 'Proposal solicitation number or identifier for the call associated with this proposal and DMP.', 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true', :class => 'icon questionmark tip') %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag(:submission_deadline, "Proposal Submission Deadline", :class => "control-label") %>
          <div class="controls">
            <%= f.text_field :submission_deadline, value: @plan.submission_deadline.blank? ? " " : @plan.submission_deadline.strftime('%m/%d/%Y'), :class => 'datepicker', id:'submission_deadline' %>
            <%= content_tag(:span, '', :title => 'Deadline for submitting the proposal associated with this DMP.', 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true', :class => 'icon questionmark tip') %>
          </div>
        </div>

        <% if @plan.new_record? %>
          <div class="control-group" style="position: relative">
            <%= content_tag(:span, '', :title => 'Three visibility options: <ul><li>Public: anyone can view the plan.</li><li>Institutional: anyone logged in from your institution can view the plan.</li><li>Private: only owners and co-owners can view the plan.</li></ul>', 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true', :class => 'icon questionmark tip', :style => 'position: absolute; top: 7px; left: 135px') %>
            <p class="control-label">Visibility</p>
            <div class="controls checkbox-controls">
              <%= f.radio_button :visibility, :public, :class => 'radio inline', :id => 'public'  %>
              <%= label_tag :public, 'public', :class => 'radio-label'%><br/>
              <%= f.radio_button :visibility, :institutional, :class => 'radio inline', :id => 'institutional'  %>
              <%= label_tag :institutional, 'institutional', :class => 'radio-label'%><br/>
              <%= f.radio_button :visibility, :private, :class => 'radio inline', :id => 'private', checked: true  %>
              <%= label_tag :private, 'private', :class => 'radio-label'%>
            </div>
          </div>
          <%= render partial: '/users/plan_autocomplete_widget',
              :locals =>
             {  user_role: 'coowner',
                submit_url: '', #this item is submitted as part of the main form, not by itself
                item_description: 'co-owner'
             } %>

        <% else %>
          <%= render partial: '/users/plan_autocomplete_widget',
              :locals =>
             {  user_role: 'coowner',
                submit_url: '', #this item is submitted as part of the main form, not by itself
                item_description: 'co-owner'
             } %>
            <div class="controls">
              <% if @planowner.id != current_user.id %>
                <span> Owner: </span>
                <strong class= 'blue'><%= @planowner.full_name %>, </strong>
              <% end %>
              <span> Existing Co-owners: </span>
              <strong class= 'blue'><%= @coowners.map { |coowner| coowner.full_name.to_s + raw(link_to "", delete_coowner_path(coowner_id: coowner.id, plan_id: @plan.id), :method => :delete, :data => { :confirm => "Are you sure?"}, :class => "remove icon", :title => "Remove Co-owner") }.join(", ").html_safe %></strong>
            </div>
        <% end %>

        <% unless @plan.new_record? %>
          <div class="control-group">
            <p class="control-label">Current Status</p>
            <div class="controls">
              <p><strong class="blue"><%= @plan.display_state %></strong> <%= link_to(content_tag(:span, "", :class => "icon-chevron-down") + "Show History", "#", :class => "view-plan-history") %><%= link_to(content_tag(:span, "", :class => "icon-chevron-up") + "Hide History", "#", :class => "hide-plan-history") %></p>
              <div id="plan_history" class="history">
                <%= render partial: 'plan_states_history' %>
              </div>
            </div>
          </div>
          <% if @customization_review == "formal" || @customization_review == "informal" || (@customization_review == nil && @template_review == "formal") || (@customization_review == nil && @template_review == "informal")%>
            <hr/>
            <div class="control-group">
              <p class ="control-label">Reviewer Comments</p>
              <div class="controls">
                <p><%= link_to(content_tag(:span, "", :class => "icon-chevron-down") + "View", "#", :class => "view-reviewer-comments") %><%= link_to(content_tag(:span, "", :class => "icon-chevron-up") + "Hide", "#", :class => "hide-reviewer-comments") %></p>
                <div id="reviewer_comments" class="comments">
                  <div class="ajax_load_reviewer">
                    <% if @reviewer_comments.empty? %>
                      <strong>There are currently no comments.</strong>
                      <br/>
                    <% else %>
                      <div class="scrollable-container">
                        <div class="scrollable-content">
                          <br/>
                          <%= render partial: 'comments/index_reviewer_comments' %>
                        </div>
                      <div class="scrollable-bottom-handle ui-resizable-handle ui-resizable-s"></div>
                    </div>
                    <% end %>
                  </div>
                  <br/>
                  <p><%= link_to "Add Comments", "#", data: {:comment_type => :reviewer}, :class => "btn add_comments_link" %></p>
                </div>
              </div>
            </div>
          <% end %>
					<hr/>
          <div class="control-group">
            <p class ="control-label">Owner Comments</p>
            <div class="controls">
              <p><%= link_to(content_tag(:span, "", :class => "icon-chevron-down") + "View", "#", :class => "view-owner-comments") %><%= link_to(content_tag(:span, "", :class => "icon-chevron-up") + "Hide", "#", :class => "hide-owner-comments") %></p>
              <div id="owner_comments" class="comments">
                <div class ="ajax_load_owner">
                  <% if @owner_comments.empty? %>
                    <strong>There are currently no comments.</strong>
                    <br/>
                  <% else %>
                    <div class="scrollable-container">
                      <div class="scrollable-content">
                        <br/>
                        <%= render partial: "comments/index_owner_comments" %>
                      </div>
                      <div class="scrollable-bottom-handle ui-resizable-handle ui-resizable-s"></div>
                    </div>
                  <% end %>
                </div>
                <br/>
                <p><%= link_to "Add Comments", "#", data: {:comment_type => :owner}, :class => "btn add_comments_link" %></p>
              </div>
            </div>
          </div>
          <hr/>

          <div class="control-group">
            <p class ="control-label">Visibility</p>
            <div>
              <div class="controls">
                <p>
                  This DMP is <strong class="blue"><%=@plan.visibility.capitalize %></strong>
                </p>
                <%= link_to "Change Settings", "#", :class => "btn change_visibility_link", :'data-planid' => @plan.id, 
                      :'data-visibility' => @plan.visibility, :style => "margin-left:-20px"%>
                
                <div style=" width:200px; float:right; margin-right:380px; margin-top:-36px; line-height:20px">
                
                  Note: when visibility is set to "Public", your DMP will appear on the <a href="/public_dmps">Public DMPs</a> page of this site. 
                
                </div>
              </div>
            </div>
          </div>

          <hr/>
          <div class="control-group">
            <p class ="control-label">Available Actions</p>
              <div class="controls">
              <p><%= link_to "Preview DMP", preview_plan_path(@plan) %>
                <% if @customization_review == true || (@customization_review == nil && @template_review == true) %>
                  | <%= link_to "Submit DMP", preview_plan_path(@plan) %>
                <% end %>
                <% unless @coowners.include?(@user) %>
                  | <%= link_to "Delete DMP",@plan, method: :delete,  style: 'color:red;', data: { confirm: 'Are you sure?', :id => 'delete_template'} %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>

        <div class="buttons">
          <% unless @plan.new_record? %>
            <%= f.submit 'Save', name: 'save_changes', :class => 'btn' %>
            <%= f.submit "Save and Next >>", name: 'save_and_dmp_details', :class => 'btn btn-green pull-right' %>
            <%= button_tag 'Cancel', type: :reset, :class => 'btn btn-success'%>
          <% else %>
            <%= f.submit "Save and Next >>", name: 'save_and_dmp_details', :class => 'btn btn-green pull-right' %>
            <%= link_to '<< Back', :back, method: :get, :class => 'btn btn-green pull-left', role: "button" %>
            <%= button_tag 'Cancel', type: :reset, :class => 'btn btn-success'%>
           <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("div.scrollable-container").resizable({ containment: "parent", minHeight: 100, handles: "s" });
</script>
