<% @title_text = "My DMPs" %>
<% @display_menu = "my_dmps" %>

<% @plan_id = nil %>
<h1 class="row-fluid"><span class="icon dmp-template"></span>My DMPs</h1>
<div class="table-scope">
  <%= link_to "All (#{@all}) ", {order_scope: @order_scope, scope: "all_limited", all_scope: @all_scope}, :class => "all_limited" %>
  |
  <%= link_to "Owned (#{@owned}) ", {order_scope: @order_scope, scope: "owned", all_scope: @all_scope}, :class => "owned" %>
  |
  <%= link_to "Co-owned (#{@coowned}) ", {order_scope: @order_scope, scope: "coowned", all_scope: @all_scope}, :class => "coowned" %>
  |
  <%= link_to "Approved (#{@approved}) ", {order_scope: @order_scope,scope: "approved",  all_scope: @all_scope}, :class => "approved" %>
  |
  <%= link_to "Submitted (#{@submitted}) ", { order_scope: @order_scope, scope: "submitted", all_scope: @all_scope}, :class => "submitted" %>
  |
  <%= link_to "Completed (#{@committed}) ", {order_scope: @order_scope, scope: "committed",  all_scope: @all_scope}, :class => "committed" %>
  |
  <%= link_to "Rejected (#{@rejected}) ", {order_scope: @order_scope, scope: "rejected",  all_scope: @all_scope}, :class => "rejected" %>
  |
  <%= link_to "Reviewed (#{@reviewed}) ", {order_scope: @order_scope, scope: "reviewed",  all_scope: @all_scope}, :class => "reviewed" %>

  <%= content_tag(:span, '', :title => '<ul><li>All: All DMPs for which you are an owner or co-owner.</li><li>Owned: DMPs that you have created.</li><li>Co-owned: DMPs for which others have designated you as a co-owner.</li><li>Approved: Your DMP has been approved by your institutional administrator (only applies if your institution has enabled the &#8220;Review&#8221; functionality.)</li><li>Submitted: Your DMP has been submitted for review to your institutional administrator (only applies if your institution has enabled the &#8220;Review&#8221; functionality.)</li><li>Completed: After clicking Done on the DMP Preview screen, your plan will marked Completed.</li><li>Rejected. Your DMP has been rejected by your institutional administrator (only applies if your institution has enabled the “Review” functionality.)</li><li>Reviewed: Your DMP which was submitted for Informal review and has been reviewed by the Institutional Reviewer.</li></ul>', 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true', :class => 'icon questionmark tip') %>
</div>

<table class="table table-striped" id="dmp_plans">
  <thead>
    <tr>
      <th>
        <%#= link_to "Name", {order_scope: "Name", scope: @scope, all_scope: @all_scope}%>
        <%= sortable "name"%>
      </th>
      <th class="span3">
        <%#= link_to "Owner", {order_scope: "Owner", scope: @scope, all_scope: @all_scope}%>
        <%= sortable "owner"%>
      </th>
      <th>
        <%= sortable "status"%>
      </th>
      <th>
        <%= sortable "visibility" %>
        <%= content_tag(:span, '', :title => 'Three possible states:<ul><li>Private (red lock): only owners and co-owners can view the plan.</li><li>Shared with institution (yellow key): anyone logged in from your institution can view the plan.</li><li>Share publicly (green people): anyone can view the plan. 
          Your DMP will appear on the <a href="/public_dmps">Public DMPs</a> page of this site.</li></ul>', 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'data-html' => 'true', :class => 'icon questionmark tip') %>
      </th>
      
      
      <th>
        <%= sortable "last_modification_date", "Last Modification Date" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td class="plan_name">
          <div class="toggle-links">
            <strong id ="#{plan.name}"><%= plan.name %></strong>
            <div class="template-links">
              <% @plan_id = plan.id %>
                <%= link_to('Overview', edit_plan_path(plan)) %>
              | <%= link_to('Details', details_plan_path(plan)) %>
              | <%= link_to('Share', '#', {:class => 'change_visibility_link', :'data-planid' => plan.id, :'data-visibility' => plan.visibility }) %>

              <% if (review_type(plan) == true) || (review_type(plan) == nil && plan.requirements_template.try(:review_type) && plan.requirements_template.review_type != :no_review) %>
                | <%= link_to('Submit', preview_plan_path(plan)) %>
              <% end %>
              | <%= link_to('Copy', copy_existing_plans_template_path(:plan => plan)) %>
              <br><%= link_to('Export as PDF', plan_path(plan, :format => "pdf")) %>
              | <%= link_to('Export as RTF', plan_path(plan, :format => "rtf")) %>
              <% unless coowner(plan) == true %>
              | <%= link_to 'Delete', plan, method: :delete, data: { confirm: 'Are you sure?' },:class => "delete" %>
              <% end %>
            </div>
          </div>
        </td>
        <td><%= owner_name(plan) %></td>
        <td><strong><%= plan.display_state %></strong></td>
        <%if plan.visibility == :private %>
          <td class="span1"><span class="private-visibility icon" title="Private"></span></td>
        <% elsif plan.visibility == :public %>
          <td class="span1"><span class="public-visibility icon" title="Public"></span></td>
        <% else %>
          <td class="span1"><span class="institutional-visibility icon" title="Institutional"></span></td>
        <% end %>
        <td><%= plan.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
      </tr>
    <% end %>
  <tbody>
</table>

  <% if @all_scope == "all" %>
    <div class="buttons pagination">
      <%= link_to "View Less", plans_path(order_scope: @order_scope, scope: @scope, all_scope: "", direction: @direction), :method => :get, :class => "btn", :id => 'view_all_plans', role: "button" %>
      <%= paginate @plans %>
    </div>
  <% else %>
    <div class="buttons pagination">
      <%= link_to "View All", plans_path(order_scope: @order_scope, scope: @scope, all_scope: "all", direction: @direction), :method => :get, :class => "btn", :id => 'view_all_plans', role: "button" %>
      <%= paginate @plans %>
    </div>
  <%end%>

    </tr>
  </tbody>
</table>
<%= button_to 'Create New DMP', plan_template_information_path, :method => :get, :class => 'btn' %>
<div id = 'visibility_dialog_form'>
  <%= render partial: 'change_visibility', locals: {:plan_id => @plan_id} %>
</div>
