<% @display_menu = "review_dmp" %>
<h1 class="row-fluid"><span class="icon review"></span>Review DMPs</h1>
<br/>
<h3><strong>Perform Review </strong></h3>
<div class="scrollable-container">
  <div class="scrollable-content">
    <%= render :partial => 'html_render', locals: {plan: @plan} %>
  </div>
  <div class="scrollable-bottom-handle ui-resizable-handle ui-resizable-s"></div>
</div>

<br/>

<h3><strong>Comments </strong></h3>
<br/>
<div class="comments">
  <% if @reviewer_comments.empty? %>
    <strong>There are currently no comments.</strong>
    <br/>
  <% else %>
    <div class="scrollable-container">
      <div class="scrollable-content">
        <br/>
        <%= render partial: 'comments/index_reviewer_comments' %>
      </div>
    <div class="scrollable-bottom-handle ui-resizable-handle ui-resizable-s"></div>
  </div>
  <% end %>
  <br/>
  <p><%= link_to "Add Comments", "#", data: {:comment_type => :reviewer}, :class => "btn add_comments_link" %></p>
</div>

<% unless @customization.nil? %>
  <% if @customization.review_type == :formal_review %>
    <fieldset class="spaced_below">
      <label class ="control-label">Review Decision:</label>
      <% if state(@plan) == :approved || state(@plan) == :rejected %>
        <strong>The Plan is set to <span class ="blue"><%= @plan.display_state %></span> state.</strong>
      <% else %>
        <%= link_to "Approve", plan_plan_states_approved_path(@plan), method: :post, :class => "btn btn-green" %>
        <%= link_to "Reject", '#', :id => "reject_with_comments_link" , class: "btn" %>
      <% end %>
    </fieldset>
  <% elsif @customization.review_type == :informal_review %>
    <fieldset class="spaced_below">
      <% if state(@plan) == :reviewed %>
        <strong>The Plan is set to <span class ="blue">Reviewed</span> state.</strong>
      <% else %>
      <%= link_to "Plan Reviewed", plan_plan_states_reviewed_path(@plan), method: :post, :class => "btn btn-green" %>
      <% end %>
    </fieldset>
  <% elsif @customization.review_type == :no_review %>
  <% end %>

<% else %>

  <% if @plan.requirements_template.review_type == :formal_review %>
      <fieldset class="spaced_below">
      <label class ="control-label">Review Decision:</label>
      <% if state(@plan) == :approved || state(@plan) == :rejected %>
        <strong>The Plan is set to <span class ="blue"><%= @plan.display_state %></span> state.</strong>
      <% else %>
        <%= link_to "Approve", plan_plan_states_approved_path(@plan), method: :post, :class => "btn btn-green" %>
        <%= link_to "Reject", '#', :id => "reject_with_comments_link" , class: "btn" %>
      <% end %>
    </fieldset>
  <% elsif @plan.requirements_template.review_type == :informal_review %>
      <fieldset class="spaced_below">
      <% if state(@plan) == :reviewed %>
        <strong>The Plan is set to <span class ="blue">Reviewed</span> state.</strong>
      <% else %>
      <%= link_to "Plan Reviewed", plan_plan_states_reviewed_path(@plan), method: :post, :class => "btn btn-green" %>
      <% end %>
    </fieldset>
  <% elsif @plan.requirements_template.review_type == :no_review %>
  <% end %>

<% end %>
<div id = "comment_dialog_form">
	<%= render partial: 'comments/form', locals: {:plan_id => params[:id] } %>
</div>
<div id = "reject_dialog_form">
  <%= render partial: 'reject_with_comments', locals: {:plan_id => params[:id] } %>
</div>
<hr/>
<%= link_to 'Back', review_dmps_path(@plan), method: :get, :class => 'btn btn-green pull-left' %>

<script type="text/javascript">
  $("div.scrollable-container").resizable({ containment: "parent", minHeight: 150, handles: "s" });
</script>