<% @title_text = "DMP Preview" %>
<% @display_menu = "plans:preview" %>
<h1 class="row-fluid"><span class="icon template-preview"></span>DMP Preview</h1>
<br/>
<div class="row-fluid">
	<%= link_to "Export as PDF", plan_path(@plan, :format=>"pdf"), :class => "btn pull-left" %>
	<%= link_to "Export as RTF", plan_path(@plan, :format=>"rtf"), :class => "btn pull-left" %>
        <%= link_to(content_tag(:span, "", :class => "icon print") + "Print",
                    plan_path(@plan, :format=>"html"),
                    :class => "btn pull-left")  %>
</div>
<br/>

<div class="border-box">
  <%= render :partial => 'html_render', locals: {plan: @plan} %>
</div>

<div class="buttons">
  <p class="pull-left"> This DMP is <strong class="blue"><%=@plan.visibility.capitalize %></strong><br/></p>
	<%= link_to "Change Settings", "#", :class => "btn change_visibility_link", :'data-planid' => @plan.id, :'data-visibility' => @plan.visibility %>
  <span>Note: when visibility is set to "Public", your DMP will appear on the <a href="/public_dmps">Public DMPs</a> page of this site.</span> 
</div>

<div class="row-fluid">
  <%= link_to "<< Back", details_plan_path(@plan), :class => "btn btn-green pull-left", role: "button" %>
  <%= render 'back_submit_buttons.html.erb' %>
</div>

<div id = 'visibility_dialog_form'>
	<%= render partial: 'change_visibility', locals: {:plan_id => @plan.id, :visibility => @plan.visibility} %>
</div>

<script type="text/javascript">
	tab_jump();
	add_tab_to_pagination();
</script>


